<template>
  <v-container> 

    <v-row align="center" justify="center">
      <v-simple-table dense>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">
                상영관
              </th>
              <th class="text-left">
                상영작
              </th>
              <th class="text-left">
                상영시간
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, idx) in infos" :key="idx">
              <td>{{ item.theater.theater_name }}</td>
              <td>{{ item.movieName }}</td>
              <td>
                <v-chip-group
                  active-class="deep-purple accent-4 white--text"
                  column
                >
                  <v-chip
                    v-for="(j, index) in item.movieTime"
                    :key="index"
                    @click="go(idx, j)"
                  >
                    {{ j }}
                  </v-chip>
                </v-chip-group>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-row>
  </v-container>
</template>

<script>
//import httpBase from "../../utils/http-common";
export default {
  data() {
    return {
      theaterName: [],
      movieName: [],
      movieTime: [],
      infos: [],
      flag: false,
      row: "",
      col: "",
      selectedSeat: ["A1", "B1"],
      selectSeats: [],
    };
  },
  mounted() {
    let temp = this.$route.params.movieInfos;

    this.theaterName = temp["theater"];
    this.movieName = temp["movieName"];
    this.movieTime = temp["movieTime"];

    for (let i = 0; i < this.movieName.length; i++) {
      let info = {
        theater: this.theaterName[i],
        movieName: this.movieName[i],
        movieTime: this.movieTime[i],
      };
      this.infos.push(info);
    }
  },
  methods: {
    go(idx, time) {
      console.log("선택한 시간" + time);
      this.$router.push({
        name: "SeatTable",
        params: {
          theater: this.theaterName[idx],
          movieTime: time,
          movieName: this.movieName[idx],
        },
      });
    },
  },
};
</script>
<style scoped></style>
