<template>
  <v-container>
    <v-row align="center" justify="center" cols="5">
      <v-carousel
        cycle
        height="400"
        hide-delimiter-background
        show-arrows-on-hover
        hide-delimiters
      >
        <template v-slot:prev="{ on, attrs }">
          <v-btn color="success" v-bind="attrs" v-on="on">
            <v-icon large>
              mdi-chevron-left
            </v-icon>
          </v-btn>
        </template>
        <template v-slot:next="{ on, attrs }">
          <v-btn color="info" v-bind="attrs" v-on="on">
            <v-icon large>
              mdi-chevron-right
            </v-icon>
          </v-btn>
        </template>
        <v-carousel-item
          v-for="(slide, i) in slides"
          :key="i"
          :src="slide.movie_img"
          contain
          @click="goToBookPage(slide, 1)"
        >
        </v-carousel-item>
      </v-carousel>
    </v-row>
    <v-row align="center" justify="center">
      <v-btn @click="goToBookPage(slides, 0)"> 전체 상영 시간표</v-btn>
    </v-row>

    <v-row align="center" justify="center">
      <v-text-field
        v-model="phoneNum"
        label="Phone Number"
        required 
      ></v-text-field>
    </v-row>
    <v-row align="center" justify="center">
      <v-btn @click="goToBookCheckPage()"> 핸드폰 번호로 예매 확인</v-btn>
    </v-row>
  </v-container>
</template>

<script>
import httpBase from "../../utils/http-common";
export default {
  data() {
    return {
      slides: [],
      tempinfo: [],
      phoneNum: "",
    };
  },
  created() {
    httpBase.get("/movie/movieinfos").then((response) => {
      this.slides = response.data;
      console.log(response.data);
    });
  },

  methods: {
    goToBookPage(movieInfos, flag) {
      if (flag == 0) {
        httpBase.get("/movie/theater").then((response) => {
          this.$router.push({
            name: "BookPage",
            params: { movieInfos: response.data },
          });
        });
      } else if (flag == 1) {
        httpBase
          .get("/movie/theater?movieid=" + movieInfos.movie_id)
          .then((response) => {
            this.$router
              .push({
                name: "BookPage",
                params: { movieInfos: response.data },
              })
              .catch(() => {});
          });
      }
    },
    goToBookCheckPage() {
      if (!this.phoneNum) {
        alert("핸드폰 번호를 입력하세요");
        return;
      }

      this.$router.push({
        name: "BookCheckTable",
        params: { phoneNum: this.phoneNum },
      });
    },
  },
};
</script>
<style scoped></style>
