<template>
  <v-container>
    <v-row align="center" justify="center">
      핸드폰 번호 <b> {{ phoneNumber }} </b>의 예매 정보
    </v-row>
    <v-row></v-row>
    <v-row align="center" justify="center">
      <v-simple-table dense>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">
                상영관
              </th>
              <th class="text-left">
                상영작
              </th>
              <th class="text-left">
                가격
              </th>
              <th class="text-left">
                시간
              </th>
              <th class="text-left">
                좌석번호
              </th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(item, idx) in allInfos" :key="idx">
              <td>{{ item.theater.theater_name }}</td>
              <td>{{ item.movie.movie_name }}</td>
              <td>{{ item.movie.movie_price }}</td>
              <td>{{ item.movieTime.movie_time }}</td>
              <td>{{ item.seat_name }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-row>
  </v-container>
</template>

<script>
import httpBase from "../../utils/http-common";
export default {
  data() {
    return {
      time: "",
      phoneNumber: "",

      theaterInfos: [],
      movieName: [],
      movieTime: [],
      allInfos: [],
    };
  },
  created() {
    this.phoneNumber = this.$route.params.phoneNum;
    httpBase.get("/book/phonenum/" + this.phoneNumber).then((response) => {
      console.log(response.data);
      this.allInfos = response.data;
    });
  },
  mounted() {},
  methods: {},
};
</script>
<style scoped></style>
