<template>
  <v-container>
    <v-row align="center" justify="center"
      >영화 <b> {{ movieName }} </b>의 좌석 정보</v-row
    >
    <v-row></v-row>
    <v-row align="center" justify="center">
      <table>
        <tbody>
          <tr v-for="(i, idx) in row" :key="idx">
            <td v-for="(j, idx) in col" :key="idx">
              <v-btn
                @click="check(i + j, $event)"
                v-bind:id="i + j"
                v-bind:ref="i + j"
                :disabled="false"
              >
                {{ i }}{{ j }}
              </v-btn>
            </td>
          </tr>
        </tbody>
      </table>
    </v-row>

    <v-row align="center" justify="center">
      <v-text-field
        v-model="phoneNumber"
        label="Phone Number"
        required
      ></v-text-field>
    </v-row>
    <v-row align="center" justify="center" cols="1" md="6">
      <v-btn class="mr-4" type="submit" @click="submit()">
        submit
      </v-btn>
    </v-row>
  </v-container>
</template>

<script>
import httpBase from "../../utils/http-common";
export default {
  data() {
    return {
      time: "",
      phoneNumber: "",

      theaterInfos: [],
      movieName: [],
      movieTime: [],
      infos: [],
      flag: false,
      row: [
        "A",
        "B",
        "C",
        "D",
        "E",
        "F",
        "G",
        "H",
        "I",
        "J",
        "K",
        "L",
        "M",
        "N",
        "O",
        "P",
        "Q",
        "R",
        "S",
        "T",
        "U",
        "V",
        "W",
        "X",
        "Y",
        "Z",
      ],
      col: "",
      selectedSeat: [],
      selectSeats: [],
    };
  },
  created() {
    //let temp = this.$route.params.movieInfos;
    this.theaterInfos = this.$route.params.theater;
    this.col = this.theaterInfos.seat_col_num;
    this.row = this.row.slice(0, this.theaterInfos.seat_row_num);
    this.movieTime = this.$route.params.movieTime;
    this.movieName = this.$route.params.movieName;
  },
  mounted() {
    httpBase
      .get("/book/seats", {
        params: {
          movie_id: this.theaterInfos.movie_id,
          movie_time: this.movieTime,
          theater_id: this.theaterInfos.theater_id,
        },
      })
      .then((response) => {
        this.selectedSeat = response.data;
        for (let i of this.selectedSeat) {
          document.getElementById(i).disabled = true;
          document.getElementById(i).style = "background:red";
        }
      });
  },
  methods: {
    check(seatNum, event) {
      console.log(seatNum);
      let f = false;

      for (let i = 0; i < this.selectSeats.length; i++) {
        if (this.selectSeats[i] == seatNum) {
          console.log("++" + seatNum);
          this.selectSeats.splice(i, 1);
          i--;
          f = true;
        }
      }

      if (!f) {
        this.selectSeats.push(seatNum);
      }
      //console.log(event.currentTarget.id)
      if (event.currentTarget.style.background == "blue") {
        event.currentTarget.style = "background:";
        // let idx = this.selectedSeat.indexOf(seatNum);
        // this.selectSeats.splice(idx, 1);
      } else {
        event.currentTarget.style = "background:blue";
      }
    },

    submit() {
      console.log(this.selectSeats); //좌석
      console.log(this.phoneNumber); //폰넘버
      console.log(this.theaterInfos.theater_id); //극장아이디
      console.log(this.theaterInfos.movie_id); //영화아이디
      console.log(this.movieTime); //시간
      if (!this.selectSeats.toString()) {
        alert("좌석을 선택하세요");
        return;
      }
      if (!this.phoneNumber) {
        alert("핸드폰 번호를 입력하세요");
        return;
      }

      httpBase
        .post("/book/insert", null, {
          params: {
            movie_id: this.theaterInfos.movie_id,
            movie_time: this.movieTime,
            phone_num: this.phoneNumber,
            seat_name: this.selectSeats.toString(),
            theater_id: this.theaterInfos.theater_id,
          },
        })
        .then((response) => {
          console.log(response.data);
          if (response.data == "success") {
            alert("예매가 완료되었습니다");
            this.$router.push({
              name: "MainPage", 
            }); 
          }
        });
    },
  },
};
</script>
<style scoped></style>
